<div class="container">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["active"]'>Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["deleted"]'>Deleted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]='["manage/userdetails"]'>Manage</a>
    </li>

  </ul>

</div>

<router-outlet></router-outlet>